.container {
  font-family: "Pacifico", cursive;
  font-family: "Rubik", sans-serif;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wordForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container input {
  width: 12rem;
  height: 2rem;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  font-size: 1.2rem;
}

.container button {
  height: 2rem;
  width: 5rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  background-color: rgb(114, 114, 202);
  border-radius: 5px;
  border: 1px solid rgb(114, 114, 202);
  color: white;
  font-size: 1rem;
}

.container button:hover {
  cursor: pointer;
  background-color: blue;
  border: 1px solid blue;
  color: white;
  font-size: 1rem;
}

.containerWord {
  width: 50vw;
  height: 30vh;
  margin-top: 10px;
  padding: 5px;
  line-height: 1;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word {
  font-style: italic;
  font-size: 3rem;
  padding: 10px;
}

.origin {
  font-size: 1.1rem;
  padding: 5px;
}

.meanings {
  width: 100%;
  background-color: rgb(127, 197, 238);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.audioSound {
  width: 50%;
}

.bar {
  width: 100%;
  border-top: 1px solid black;
  margin-bottom: 10px;
}

span {
  margin-top: 10px;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .containerWord {
    width: 100%;
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .audioSound {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .meanings {
    width: 90%;
  }
}
